*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: white;
    font-family: Roboto;
}
body{
    width: 100%;
    min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Roboto:wght@100&display=swap');
//The way to apply this font -> @include fontStyle(white, 'Oooh Baby', 20px );

@mixin fontStyle($color, $family, $size){
    color: $color;
    font-family: $family;
    size: $size;
}

.mainFlex{
  
    background-color: rgb(41, 40, 40);
    display: flex;
    height: 550px;
    flex-direction: column;
}

.mainFlexHelper{
    display: flex;
    flex-direction: row;
}

.flexElement{
    margin-left: 75px;
    width: 600px;
    height: 150px;
}

.flexElement2{
   margin-left: 25px;
   height: 150px;
   width: auto;
}

.flexElement3{
   margin: 30px;
   padding: 30px;
}

.fontTitle{
    @include fontStyle(white, monospace, 48px);
    font-weight: bold;

}

